<template>
  <section id="about" class="about d-flex">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>This is an about page {{msg}}</h3>
            <p class="fst-italic">
              This is more content.<br/>
              The linter is really harcore. {{ msg }}
            </p>
            <button class="read-more" @click=click>oui</button>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'view-about',
  data () {
    const msg = 'uiii';
    return {
      msg
    };
  },
  methods: {
    click () {
      this.msg += 'i';
    }
  }
});

</script>
