<template>
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>ACTION ENFANCE </h1>
          <h2>ACTION ENFANCE est une fondation française créée en 1958 par Suzanne Masson. Vous pouvez retrouver leur site <a href="https://www.actionenfance.org/">ici</a>.
            Une des actions principales de la Fondation est l’accueil et la protection de fratries dans des Villages d’Enfants et d'Adolescents. Ces frères et soeurs, confiés à la Fondation par un juge des enfants, y sont accueillis pour leur donner un foyer sécurisé et sécurisant.
            <br/>
            <br/>
            Tous les ans, 950 enfants et jeunes sont confiés à la Fondation, qu’elle accueille dans ses 15 Villages. Ils y sont accompagnés par des éducateurs familiaux 24/7.<br/>
            <br/>
             Les fonds collectés permettront à ACTION ENFANCE de financer un projet de médiation animale au Village d’Enfants et d’Adolescents de Bar-le-Duc (55).
            </h2>
            <br/>
          <div>
          <a href="https://www.actionenfance.org/" class="lien-ext"> <i class="bi bi-layout-text-window-reverse"></i></a>
          <a href="https://fr-fr.facebook.com/ActionEnfance/" class="lien-ext"> <i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/action_enfance/" class="lien-ext"> <i class="bi bi-instagram"></i></a>
          <a href="https://twitter.com/action_enfance" class="lien-ext"> <i class="bi bi-twitter"></i></a>
          <a href="https://www.linkedin.com/company/action-enfance" class="lien-ext"> <i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="../assets/img/actionenfance.jpg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Action Enfance'
});
</script>

<style scoped>
@media (min-width: 992px) {
  img {
        width:80%;
        padding-left:10%;
    }
}

.lien-ext {
    padding: 5px;
}

i {
    font-size: 3em;
    color: white;
}
</style>
