<template>
  <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">
        <br/>
        <div class="section-title">
          <h2>Contact</h2>
          <p>Des questions sur l’événement, sur nous ou sur l’un de nos partenaires ? Contacte nous !</p>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email</h3>
              <a href="mailto:contact-tnevent@telecomnancy.net">contact-tnevent@telecomnancy.net</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bxl-facebook"></i>
              <h3>Facebook</h3>
              <a href="https://www.facebook.com/TNEvent.officiel" class="facebook">TN’Event</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bxl-instagram"></i>
              <h3>Instagram</h3>
              <a href="https://www.instagram.com/tnevent_humanitn/" class="instagram">tnevent_humanitn</a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bxl-twitter"></i>
              <h3>Twitter</h3>
              <a href="https://twitter.com/EventTn" class="twitter">EventTn</a>
            </div>
          </div>
        </div>

        <!--<div class="row">
          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Votre nom" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Votre email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Chargement</div>
                <div class="error-message"></div>
                <div class="sent-message">Votre message a été envoyé. Merci !</div>
              </div>
              <div class="text-center"><button type="submit">Envoyer</button></div>
            </form>
          </div>

        </div>-->

      </div>
    </section><!-- End Contact Section -->
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Contact'
});
</script>

<style scoped>
#contact {
    min-height: 100vh;
    background: linear-gradient(45deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    background-size: cover;
}
</style>
