<template>
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Bienvenue sur le site du <span class="logo-text">TN'Event 2022</span></h1>
          <h2>Dans l'esprit du Z'Event, l'association HumaniTN organise son stream caritatif les 28 et 29 janvier 2022 !<br/><br/>
          <strong>Le principe ?</strong> Récolter des fonds pour le village d'enfants de l'association Action Enfance !<br/><br/>
          <strong>Comment ?</strong> Pendant 26 heures, plusieurs élèves et membres administratifs de l’école TELECOM Nancy seront en live sur la plateforme Twitch, avec pour objectif de récolter des dons.<br/><br/>
          <strong>Quand ?</strong> Retrouvez-nous le 28 janvier à 18h ici même ou sur Twitch, jusqu’au lendemain à 20h30
          </h2>
          <div v-if="eventFinished">
            <br/>
            <br/>
            <h2>Cette édition du TN'Event est terminée, merci à tous pour vos participations !<br/>
            Grace à vous, nous avons pu recupèrer plus de {{ donations }} € pour l'association ACTION ENFANCE !
            </h2>
          </div>
          <vue-countdown v-else-if="counting" :time="time" @end="onCountdownEnd" v-slot="{ days, hours, minutes, seconds }">
            <div><a href="#" class="btn btn-get-started">Lancement : {{ days }} jours, {{ hours }} heures, {{ minutes }} minutes, {{ seconds }} secondes</a></div>
          </vue-countdown>
          <router-link v-else to="/Streamers" v-slot="{ href, navigate }" custom>
            <a class="btn btn-get-started" :href="href" @click="navigate">Voir les streams</a>
          </router-link>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
            <img src="../assets/TNEvent_Logo_Heart.min.svg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import VueCountdown from '@chenfengyuan/vue-countdown';
import { startDate } from '../utils/API';

export default defineComponent({
  name: 'Home',
  components: {
    VueCountdown
  },
  props: {
    eventFinished: Boolean,
    donations: Number
  },
  data () {
    const now : Date = new Date();
    const newYear = Date.parse('2022-01-28 18:30:00');
    const time = newYear - now.getTime();

    return {
      time: time,
      counting: true,
      finished: false
    };
  },
  beforeMount () {
    this.getDate();
  },
  methods: {
    getDate: async function () {
      const now : Date = new Date();
      const newYear = await startDate();
      const time = newYear - now.getTime();
      this.time = time;
    },
    onCountdownEnd: function () {
      this.counting = false;
    }
  }
});
</script>
