<template>
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-12 d-flex flex-column justify-content-center">
            <span id="donations">{{ donations }} €</span>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Donations',
  props: {
    donations: Number
  }
});
</script>

<style scoped>
#donations {
    font-size: 20rem;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
</style>
