<template>
  <section id="equipe" class="services section-bg">
      <div class="container" data-aos="fade-up">
        <br/>
        <br/>
        <br/>
        <div class="section-title">
          <h2>L'équipe</h2>
          <h4>Et nous, qui sommes-nous ? Nous sommes des étudiants de TELECOM Nancy, pour la majorité, membres de l’association humanitaire de l’école, Humani’TN. Notre objectif au travers de cet événement est de venir en aide à l'association Action Enfance en récoltant des fonds durant l’événement.</h4>
        </div>
      </div>
    </section><!-- End Services Section -->
    <section  v-for="member in members" v-bind:key="member.id" class="d-flex align-items-center" :class="member.id % 2 === 0 ? 'membre' : 'membre-alternate'">
      <div class="container-fluid" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="member-txt col-xl-5 col-lg-6 order-2 d-flex flex-column justify-content-center" :class="member.id % 2 === 0 ? 'order-lg-1' : 'order-lg-2'" >
            <h1>{{ member.name }}</h1>
            <h4 class="role">{{ member.role }}</h4>
            <h4>{{ member.description}}</h4>
            <br/>
          </div>
          <div class="col-xl-5 col-lg-6 order-1 img-membre-container justify-content-center my-auto" :class="member.id % 2 === 0 ? 'order-lg-2' : 'order-lg-1'" data-aos="zoom-in" data-aos-delay="150">
            <img :src="backend + member.img" class="img-membre img-fluid animated" loading="lazy" alt="">
          </div>
        </div>
      </div>
    </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { Member, getMembers } from '../utils/API';
import { BACKEND } from '../params';

export default defineComponent({
  name: 'Équipe',
  data () {
    return {
      members: [] as Array<Member>,
      backend: BACKEND
    };
  },
  methods: {

  },
  async mounted () {
    this.members = await getMembers();
  }
});
</script>

<style scoped>
#equipe {
  padding-top: 17%;
}
.membre {
  width: 100%;
  background: linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 100%);
  background-size: cover;
  text-align: center;
}

.membre-alternate {
  width: 100%;
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  background-size: cover;
  text-align: center;
}

.img-membre-container {
    padding: 20px;
    height: 35vh;
    text-align:center;
}
.img-membre {
    height: 100%;
    border-radius: 20px;
}
.role {
    color: grey;
    font-weight: bold;
}
</style>
