<template>
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Humani'TN</h1>
          <h2>Humani’TN est l’association caritative de <a href="https://telecomnancy.univ-lorraine.fr">TELECOM Nancy</a>, elle existe depuis le 4 novembre 2019.
            Notre vocation est de venir en aide à des personnes dans le besoin à travers le monde, et ce, par différents moyens. Nous proposons régulièrement diverses activités afin de lever des fonds.</h2>
            <br/>
          <div>
                <a href="https://humanitn.telecomnancy.net/" class="lien-ext"> <i class="bi bi-layout-text-window-reverse"></i></a>
                <a href="https://www.facebook.com/HumaniTNcy/" class="lien-ext"> <i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/humanitncy/" class="lien-ext"> <i class="bi bi-instagram"></i></a>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="../assets/img/humanitn.svg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'HumaniTN'
});
</script>

<style scoped>
@media (min-width: 992px) {
  img {
        width:80%;
        padding-left:10%;
    }
}

.lien-ext {
    padding: 5px;
}

i {
    font-size: 3em;
    color: white;
}
</style>
