<template>
  <section id="sponsors" class="services section-bg">
      <div class="container" data-aos="fade-up">
        <br/>
        <br/>
        <br/>
        <div class="section-title">
          <h2>Nos partenaires</h2>
          <h4></h4>
        </div>
        <div class="row">
          <div v-for="sponsor in sponsors" v-bind:key="sponsor.id" class="card mt-3 card-sponsor text-white col-6 col-lg-3 col-md-3">
            <img :src="backend + sponsor.img" loading="lazy" class="my-auto card-img" alt="...">
            <a :href="sponsor.link" class="card-back card-img-overlay justify-content-center">
              <h5 class="card-title">{{ sponsor.name }}</h5>
              <p class="card-text">{{ sponsor.description }}</p>
            </a>
          </div>
        </div>
      </div>
    </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { Sponsor, getSponsors } from '../utils/API';
import { BACKEND } from '../params';

export default defineComponent({
  name: 'Sponsors',
  data () {
    return {
      sponsors: [] as Array<Sponsor>,
      backend: BACKEND
    };
  },
  methods: {

  },
  async mounted () {
    this.sponsors = await getSponsors();
  }
});
</script>

<style scoped>
.card-sponsor {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.card-img-overlay {
  display: none;
}

.card-sponsor:hover .card-img-overlay{
  background-color: rgba(0, 0, 0, 0.5);
  display: block;    /* show text */
}
#sponsors {
  padding-top: 17%;
  min-height: 100vh;
}
.card-back {
  text-align: center;
}
</style>
