<template>
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-12 d-flex flex-column justify-content-center">
            <span class="donations">Montant donations : {{ donations }} €</span><br/>
            <span class="donations">Nombre de viewers : {{ viewers }}</span><br/>
            <span class="donations">Nombre de visiteurs sur le site : {{ visitors }}</span><br/>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Statistiques',
  props: {
    donations: Number,
    viewers: Number,
    visitors: Number
  }
});
</script>

<style scoped>
.donations {
    font-size: 2rem;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
</style>
