<template>
  <section id="streamers" class="services section-bg">
      <div class="container" data-aos="fade-up">
        <br/>
        <br/>
        <br/>
        <div class="section-title">
          <h2>Les streamers</h2>
        </div>

        <div class="row gy-4">
          <div v-for="streamer in streamers" v-bind:key="streamer.name" class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <img class="icon-box-img" loading="lazy" :src="backend + streamer.img"/>
              <div class="icon-box-content">
              <h4><a href="">{{ streamer.name }}</a></h4>
              <p>{{ streamer.description }}</p>
              <br/>
              <router-link v-if="eventStarted" :to="'/Stream/'+streamer.twitchId" v-slot="{ href, navigate }" custom>
                <a v-if="streamer.isLive" class="btn btn-lg btn-outline-light view-live-button" :href="href" @click="navigate">En live !<br/><small>{{ streamer.viewerCount }} viewers</small></a>
                <a v-else class="btn btn-lg btn-outline-light" :href="href" @click="navigate">Hors-ligne</a>
              </router-link>
              <a v-else class="btn btn-lg btn-outline-light" :href="'https://www.twitch.tv/' + streamer.twitchId"><i class="bi bi-twitch"></i> twitch.tv/{{ streamer.twitchId }}</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { Streamer, getStreamers, isEventStarted, timeBeforeStart } from '../utils/API';
import { BACKEND } from '../params';

export default defineComponent({
  name: 'Streamers',
  data () {
    return {
      streamers: [] as Array<Streamer>,
      backend: BACKEND,
      eventStarted: false
    };
  },
  methods: {
    isStarted: async function () {
      this.eventStarted = await isEventStarted();
    },
    waitStart: async function () {
      setTimeout(() => {
        this.isStarted();
      }, await timeBeforeStart());
    }
  },
  async mounted () {
    this.streamers = await getStreamers();
    this.eventStarted = await isEventStarted();
    if (!this.eventStarted) {
      this.waitStart();
    }
  }
});
</script>

<style scoped>
#streamers {
  padding-top: 17%;
}
.view-live-button {
  line-height: 0.8;
}
.view-live-button small {
  font-size: 0.5em;
    line-height: 0.5;

}
</style>
