<template>
  <section id="hero" class="d-flex align-items-center">
    <div id="stream-container" class="container-fluid" data-aos="fade-up">
      <div class="col-lg-12 row justify-content-center">
        <div class="col-xl-2 col-lg-2 col-12 pt-3 pt-lg-0 col order-2 order-lg-1 order-xl-1 d-flex flex-column justify-content-center">
          <ul class="list-group streamers-list">
            <li class="list-group-item list-group-item-warning" aria-disabled="true">Les streamers</li>
            <router-link v-for="streamer in streamers" v-bind:key="streamer.name" :to="'/Stream/'+streamer.twitchId" v-slot="{ href, navigate, isActive, isExactActive }" custom>
              <a :href="href" @click="navigate" class="list-group-item list-group-item-warning list-group-item-action" :class="{active : isActive && isExactActive}"  aria-current="true">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ streamer.name }}</h5>
                <small v-if="streamer.isLive">{{ streamer.viewerCount }} viewers</small>
                <small v-else>Hors-ligne</small>
              </div>
              </a>
            </router-link>
          </ul>
        </div>
        <div class="col-xl-10 col-lg-10 col-12 pt-3 col order-1 order-xl-2 order-lg-2 pt-lg-0 d-flex flex-column justify-content-center">
          <twitch-player :channel="channel"/>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { Streamer, getStreamers } from '../utils/API';
import TwitchPlayer from '../components/TwitchPlayer.vue';

export default defineComponent({
  components: { TwitchPlayer },
  name: 'Stream',
  data () {
    return {
      streamers: [] as Array<Streamer>
    };
  },
  computed: {
    channel: function () {
      return this.$route.params.channel;
    }
  },
  async mounted () {
    this.streamers = await getStreamers();
  }
});
</script>

<style scoped>
#stream-container {
  padding-top: 5%;
}

#hero2 {
  min-height: 100vh;
}

.streamers-list {
  overflow: auto;
  max-height: 80vh;
}
</style>
