<template>
  <section id="tombola" class="d-flex align-items-center">

    <div class="container-fluid container-tombola" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-12 pt-3 pt-lg-0 d-flex flex-column justify-content-center">
          <center><h1>Acheter des tickets de tombola</h1></center>
          <br/>
          <iframe id="haWidget" allowtransparency="true" scrolling="auto" src="https://www.helloasso.com/associations/humani-tn/evenements/tombola-tn-event/widget" style="width: 100%; height: 100vh; border: none;" onload="window.scroll(0, this.offsetTop)"></iframe>
        </div>
        <div class="col-8 col-offset-2 pt-3 pt-lg-0 d-flex flex-column justify-content-center">
          <br/>
          <br/>
          <h2>Liste des lots</h2>
          <ul>
            <li>Raquette de Tennis x1</li>
            <li>Appareil à Crepe x1</li>
            <li>Kit Barbecue x1</li>
            <li>Lunette de soleil x2</li>
            <li>Livres x12</li>
            <li>5 verres impression caleche x1</li>
            <li>Décapsuleur Licorne whitte x2</li>
            <li>Tapis verre chouffe x1</li>
            <li>1h billard x12</li>
            <li>Bouteille Kastel Rouge 75cl x2</li>
            <li>Bonnet Kastel x2</li>
            <li>Tablier Chouffe x1</li>
            <li>Pins Mac Carthy x11</li>
            <li>Pack verres Ducasse x1</li>
            <li>Pack Verres Vedette x1</li>
            <li>Pack verre Astra x1</li>
            <li>Pack petit fait-tout x1</li>
            <li>Pack verre ginni x1</li>
            <li>Pack Verre clan Campbell x1</li>
            <li>Boite à pique nique x1</li>
            <li>Plat fromage marbre x1</li>
            <li>Cadre photo numerique x1</li>
            <li>Pistolet Nettoyeur vapeur x1</li>
            <li>Pack couteau x1</li>
            <li>Guitare x2</li>
            <li>Lot goodies Green Flag x10</li>
            <li>Poster (voir autre page) x20</li>
            <li>Blanc Manger Coco, jeu x1</li>
            <li>Jeu Mimetix x1</li>
            <li>Jeu Speed letters x1</li>
            <li>Jeu Big book of madness x1</li>
            <li>Jeu Century la route des épices x1</li>
            <li>Jeu Otys x1</li>
            <li>Jeu Looterz x1</li>
          </ul>
        </div>
      </div>
    </div>

  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Tombola'
});
</script>

<style scoped>
#tombola {
    min-height: 100vh;
    background: linear-gradient(45deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    background-size: cover;
}

#haWidget {
    padding-top: 2rem;
}

.container-tombola {
    padding-top: 5rem;
}
</style>
