<template>
  <div ref="twitchembed"></div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { loadScript } from '../utils/loadjs';

declare const Twitch: { Embed: new (arg0: unknown, arg1: { width?: number|string; height?: number|string; channel: string|undefined; }) => null; };

export default defineComponent({
  name: 'TwitchPlayer',
  async mounted () {
    try {
      // eslint-disable-next-line @typescript-eslint/no-unused-vars
      const a = Twitch;
    } catch (e) {
      // Si Twitch n'est pas chargé, on l'ajoute au DOM
      await loadScript('https://embed.twitch.tv/embed/v1.js');
    }

    // eslint-disable-next-line no-undef
    this.player = new Twitch.Embed(this.$refs.twitchembed, {
      channel: this.channel,
      width: 1600,
      height: 900
    });
  },
  props: {
    channel: String
  },
  watch: {
    channel: function () {
      (this.$refs.twitchembed as HTMLDivElement).innerHTML = '';
      this.player = new Twitch.Embed(this.$refs.twitchembed, {
        channel: this.channel,
        width: 1600,
        height: 900
      });
    }
  },
  data () {
    return {
      player: null
    };
  }
});
</script>

<style>
iframe {
  width: 100%;
}
</style>
