<template>
    <header id="header" class="fixed-top" :class="transparency ? '' : 'no-transparency'">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo">
          <router-link to="/" v-slot="{ href, navigate }"><a id="page-title" class="logo-text" :href="href" @click="navigate">TN'Event</a></router-link>
        </h1>

        <nav id="navbar" class="navbar">
            <ul>
                <li class="dropdown">
                  <a href="#"><span>Les associations</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                    <li>
                      <router-link to="/asso/humanitn">
                        Humani'TN
                      </router-link>
                    </li>
                    <li>
                      <router-link to="/asso/actionenfance">
                        ACTION ENFANCE
                      </router-link>
                    </li>
                    <li>
                      <router-link to="/equipe">
                        Notre équipe
                      </router-link>
                    </li>
                    </ul>
                </li>
                <li>
                  <router-link to="/Streamers" v-slot="{ href, navigate, isActive, isExactActive }" custom>
                    <a class="nav-link" :class="{active : isActive && isExactActive}" :href="href" @click="navigate">Les streamers</a>
                  </router-link>
                </li>
                <li>
                  <router-link to="/partenaires" v-slot="{ href, navigate, isActive, isExactActive }" custom>
                    <a class="nav-link" :class="{active : isActive && isExactActive}" :href="href" @click="navigate">Nos partenaires</a>
                  </router-link>
                </li>
                <li v-if="eventStarted">
                  <router-link to="/tombola" v-slot="{ href, navigate, isActive, isExactActive }" custom>
                    <a class="nav-link" :class="{active : isActive && isExactActive}" :href="href" @click="navigate">Tombola</a>
                  </router-link>
                </li>
                <li v-if="eventStarted"><a class="nav-link scrollto" href="https://boutique.tnevent.telecomnancy.net">Boutique</a></li>
                <li>
                  <router-link to="/Contact" v-slot="{ href, navigate, isActive, isExactActive }" custom>
                    <a class="nav-link" :class="{active : isActive && isExactActive}" :href="href" @click="navigate">Contact</a>
                  </router-link>
                </li>
                <li v-if="eventStarted">
                  <button class="btn btn-outline-light donate-button d-none d-lg-block" type="button" data-bs-toggle="modal" data-bs-target="#donationModal">Faire un don<br/><small>{{ donations }}€ collectés</small></button>
                  <button class="btn btn-outline-dark mobile-donate-button d-lg-none" type="button" data-bs-toggle="modal" data-bs-target="#donationModal">Faire un don<br/><small>{{ donations }}€ collectés</small></button>
               </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

    </div>
  </header><!-- End Header -->

  <main id="main">

    <router-view :donations="donations" :viewers="totalViewers" :eventFinished="eventFinished" :visitors="visitors"/>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3 class="logo-text">TN'EVENT</h3>
            <p>
              193 Avenue Paul Muller<br/>
              54602 Villers-lès-Nancy<br/><br/>
              <strong>Email:</strong> contact-tnevent@telecomnancy.net<br>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="copyright-wrap d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; Copyright <span class="logo-text">TN'Event</span>. All Rights Reserved
          </div>
          <div class="credits">
            Designed by <a href="https://github.com/Any0ne22">Tom Gouville</a>
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="https://twitter.com/EventTn" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/TNEvent.officiel" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/tnevent_humanitn/" class="instagram"><i class="bx bxl-instagram"></i></a>
         <!-- <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>-->
        </div>
      </div>

    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>
  <!-- Modal -->
<div class="modal  fade" id="donationModal" tabindex="-1" aria-labelledby="donate" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Accéder à la page de donnation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Pour faire un don, nous devons vous rediriger vers le site d'Action Enfance
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <a :href="donationLink" target="_blank" type="button" class="btn btn-primary">Donner !</a>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import { defineComponent } from 'vue';
import { loadScript } from './utils/loadjs';
import { isEventStarted, timeBeforeStart, getDonationLink, getDonationAmount, updateSocket, getDates, timeBeforeEnd, isEventFinished } from './utils/API';

export default defineComponent({
  name: 'App',
  async mounted () {
    const scripts = ['/vendor/aos/aos.js',
      '/vendor/bootstrap/js/bootstrap.bundle.min.js',
      '/vendor/glightbox/js/glightbox.min.js',
      '/vendor/isotope-layout/isotope.pkgd.min.js',
      '/vendor/php-email-form/validate.js',
      '/vendor/purecounter/purecounter.js',
      '/vendor/swiper/swiper-bundle.min.js',
      '/js/main.js'
    ];
    for (const script of scripts) {
      await loadScript(script);
    }

    const dates = await getDates();

    this.eventStarted = dates.isStarted;
    this.eventFinished = dates.isFinished;
    if (!this.eventStarted) {
      this.waitStart();
      this.waitEnd();
    } if (this.eventFinished) {
      this.eventStarted = false;
      getDonationAmount().then((amount) => {
        this.donations = amount;
      });
    } else {
      getDonationLink().then((link) => {
        this.donationLink = link;
      });
      getDonationAmount().then((amount) => {
        this.donations = amount;
      });
    }

    // #### Websocket events ####
    updateSocket.onopen = function () {
      console.log('WebSocket connected');
    };

    updateSocket.onmessage = (data) => {
      const parsedData = JSON.parse(data.data);
      if (Object.keys(parsedData).includes('donationAmount')) this.donations = parsedData.donationAmount;
      if (Object.keys(parsedData).includes('totalViewers')) this.totalViewers = parsedData.totalViewers;
      if (Object.keys(parsedData).includes('visitors')) this.visitors = parsedData.visitors;
    };

    updateSocket.onerror = function (_event) {
      console.error(`Error with websocket ${_event}`);
    };
  },
  data () {
    return {
      transparency: true,
      eventStarted: false,
      eventFinished: false,
      donations: 0,
      totalViewers: 0,
      visitors: 0,
      donationLink: '',
      getDonationAmount: ''
    };
  },
  methods: {
    isStarted: async function () {
      this.eventStarted = await isEventStarted();
    },
    isFinished: async function () {
      this.eventFinished = await isEventFinished();
      if (this.eventFinished) this.eventStarted = true;
    },
    waitStart: async function () {
      setTimeout(() => {
        this.isStarted();
      }, await timeBeforeStart());
    },
    waitEnd: async function () {
      setTimeout(() => {
        this.isFinished();
      }, await timeBeforeEnd());
    }
  },
  watch: {
    eventStarted: function () {
      if (this.eventStarted) {
        getDonationLink().then((link) => {
          this.donationLink = link;
        });
        getDonationAmount().then((amount) => {
          this.donations = amount;
        });
      }
    }
  }
});
</script>

<style>
@import 'assets/vendor/aos/aos.css';
@import 'assets/vendor/bootstrap/css/bootstrap.min.css';
@import 'assets/vendor/bootstrap-icons/bootstrap-icons.css';
@import 'assets/vendor/boxicons/css/boxicons.min.css';
@import 'assets/vendor/glightbox/css/glightbox.min.css';
@import 'assets/vendor/swiper/swiper-bundle.min.css';
@import 'assets/css/style.css';

@font-face {
  font-family: "Edo";
  src: url('assets/fonts/edo.ttf');
}

@font-face {
  font-family: "Poppins";
  src: url('assets/fonts/PoppinsLatin-Regular.ttf');
}

@font-face {
  font-family: "Open Sans";
  src: url('assets/fonts/OpenSans-Regular.ttf');
}

#page-title {
  font-size: 4rem;
}

.donate-button {
  line-height: 1;
}

.mobile-donate-button {
  line-height: 1;
  margin: 15px;
}

.donate-button small {
  font-size: 0.8em;
  line-height: 0.8;
}
</style>
